<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"></meta>

    <title>Login in crud Application {{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
</head>
<body>
	<h1>shubham layout{{title}}</h1>
</body>
</html>
